#reservation{
    background: url('../assets/images/table1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    padding: 6rem 0;
}

.form_data{
    background: var(--primary_color);
    padding: 4rem;
    width: 50%;
    color: var(--white-color);
}

.form_data form{
    padding: 4rem 0;
}

.form_data form input{
    width: 49.5%;
    padding: 0.7rem 0.4rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
}

.form_data form textarea{
    width: 100%;
    padding: 1rem 0.4rem;
}

.form_data form button{
    display: inline-block;
    width: 100%;
    border: none;
    padding: 0.9rem 0;
    margin-top: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.form_data form button:hover{
    background: #ccc;
}
@media(max-width: 1070px){
    .form_data{
        width: 70%;
    }
}
@media(max-width: 768px){
    .form_data{
        width: 100%;
    }
    .form_data form input{
        width: 100%;
    }
}